<div class="container text-center col-md-12" id="page-content">
    <!--<p id="notice"><%= notice %></p>-->

    <% if current_user.test_admin %>
    <h1 class="text-center mt-4">Visualizar Contas e Gerenciar atividades</h1>
    <% else %>
    <h1><%= current_user.first_name + "'s " if current_user %>Extrato da conta</h1>
    <% end %>

    <% @cur_usr = 0 %>
    <% @accounts.each do |account| %>
    <% if @cur_usr != account.user_id %>
    <% if @cur_usr < account.user_id && @cur_usr != 0 %>
    </tbody>
    </table>
    <% if !current_user.test_admin %>
    <%= link_to 'Relatório', report_path(current_user.id), class: "btn btn-sm btn-primary" %>
    <% end%>
</div>
<% end %>
<div class="container text-center col-md-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center col-md-3"><%= "#{User.find(account.user_id).first_name} " "#{User.find(account.user_id).last_name}" %></th>
                <% if current_user.test_admin %>
                <th scope="col" class="text-center col-md-9" colspan=6><%= link_to 'Gerar Relatório', report_path(account.user_id), class: "btn btn-sm btn-primary" %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col" class="text-center">Ações</th>
                <th scope="col" class="text-center">Data Cadastro</th>
                <th scope="col" class="text-center">Saldo Anterior</th>
                <th scope="col" class="text-center">Entrada (+)</th>
                <th scope="col" class="text-center">Saída (-)</th>
                <th scope="col" class="text-center">Saldo</th>
                <th scope="col" class="text-center">Descrição</th>
            </tr>
            <tr>
                <td scope="col" class="text-center"><%= link_to 'Alterar/Excluir', account %></td>
                <td scope="col" class="text-center"><%= account.created_at.to_date %></td>
                <td scope="col" class="text-right">$<%= account.prev_balance %></td>
                <td scope="col" class="text-right">$<%= account.income %></td>
                <td scope="col" class="text-right">$<%= account.expenses %></td>
                <td scope="col" class="text-right">$<%= account.balance %></td>
                <td scope="col" class="text-left"><%= account.note %></td>
            </tr>
            <% @cur_usr = account.user_id%>
            <% else %>
            <tr>
                <td scope="col" class="text-center"><%= link_to 'Alterar/Excluir', account %></td>
                <td scope="col" class="text-center"><%= account.created_at.to_date %></td>
                <td scope="col" class="text-right">$<%= account.prev_balance %></td>
                <td scope="col" class="text-right">$<%= account.income %></td>
                <td scope="col" class="text-right">$<%= account.expenses %></td>
                <td scope="col" class="text-right">$<%= account.balance %></td>
                <td scope="col" class="text-left"><%= account.note %></td>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
    <% if !current_user.test_admin %>
    <%= link_to 'Relatório', report_path(current_user.id), class: "btn btn-sm btn-primary" %>
    <% end%>
</div>

</div>